<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Help Page</title>
</head>

<body>
    <h1>Hello {{user}}!!!</h1>
    <p>The reason to add this feature was some low level HTTPS related crashes mostly seen on Linux systems. With this feature,
        Robo 3T switches to HTTP in the next program start, after it detects HTTPS caused program abnormal exit/crash. This
        feature is designed to be used for Welcome Tab where the data being exchanged is not user/critical data.</p>

    {{> footer }}
</body>

</html>